<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyndex Technology</title>

    <!-- Bootstrap core CSS -->
    <!-- import Bootstrap CDN: CSS, JS, Popper.js and jQuary-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- import Bootstrap end --> 

    <!-- Custom styles for financial page -->
    

  </head>

  <body>

    <div class="container">
        <!-- financial information nav -->
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="companyinfo.html">Company Information Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="financialanalysis.html">General Financial Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="taxcredit.html">SR&amp;ED Tax Credit Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="taxexpense.html">R&amp;D Tax Expense Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html">Product &amp; Tech vs R&amp;D Field</a>
                </li>
            </ul>
        </div>
        <br>
        <!-- Company info content -->
        <form>
            <h5>Company Basic Information</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" value="RBC">
                </div>
                <div class="form-group col-md-3">
                    <label for="companyLocation">Company Location</label>
                    <input type="text" class="form-control" id="companyLocation" value="Toronto">
                    </div>
                <div class="form-group col-md-3">
                    <label for="companyType">Company Type</label>
                    <input type="text" class="form-control" id="companyType" value="Financial">
                </div>
                <div class="form-group col-md-3">
                        <label for="fiscalYear">Fiscal Year</label>
                        <input type="number" class="form-control" id="fiscalYear" value="2018">
                </div>
            </div>
            <!-- summary area disabled in new version
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="companySummary">Commany Summary</label>
                    <textarea class="form-control" id="companySummary">Summary here......</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            -->

            <hr>

            <h5>Income Statements</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Sales</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="sales2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="sales2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="sales2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Working Capital</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="workingCapital2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="workingCapital2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="workingCapital2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Profit/Loss</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="profit2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="profit2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="profit2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Operating Profit</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="operatingProfit2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="operatingProfit2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="operatingProfit2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Income Tax</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="incomeTax2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="incomeTax2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="incomeTax2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">COGS</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="cogs2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="cogs2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="cogs2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">R&amp;D</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="rd2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="rd2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="rd2015" value="0">
                </div>
            </div>

            <hr>

            <h5>Balance Sheets</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">PPE (Property, Plant and Equipment)</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="ppe2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="ppe2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="ppe2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Construction in Process</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="construction2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="construction2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="construction2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Computer Software Equipment</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="cse2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="cse2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="cse2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Other PPE</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="otherPpe2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="otherPpe2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="OtherPpe2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Accum Dep</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="accumDep2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="accumDep2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="accumDep2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Intangible Assets</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="intangibleAssets2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="intangibleAssets2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="intangibleAssets2015" value="0">
                </div>
            </div>

            <hr>

            <h5>Cash Flow Statements</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Deferred Tax</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="deferredTax2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="deferredTax2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="deferredTax2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Investment Tax Credits</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="investmentTaxCredits2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="investmentTaxCredits2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="investmentTaxCredits2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Credit Expenditure</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="creditExpenditure2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="creditExpenditure2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="creditExpenditure2015" value="0">
                </div>
            </div>

            <hr>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        
        <!-- Pagination -->
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="companyinfo.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="financialanalysis.html">2</a></li>
                        <li class="page-item"><a class="page-link" href="taxcredit.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="taxexpense.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="product.html">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="financialanalysis.html">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>    
        </div>

    </div>
    

  </body>
</html>