<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyndex Technology</title>

    <!-- Bootstrap core CSS -->
    <!-- import Bootstrap CDN: CSS, JS, Popper.js and jQuary-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- import Bootstrap end --> 

    <!-- Custom styles for financial statement page -->
    

  </head>

  <body>

    <div class="container">
        <!-- financial information nav -->
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="companyinfo.html">Company Information Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="financialanalysis.html">Financial Analysis Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="taxcredit.html">SR&amp;ED Tax Credit Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="taxexpense.html">R&amp;D Tax Expense Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="product.html">Product &amp; Tech vs R&amp;D Field</a>
                </li>
            </ul>
        </div> 
    
        <br>

        <!-- product content -->
        <h4>Product and R&amp;D Description</h4>
        <form>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="mainProduct">Company Main Product:</label>
                    <textarea class="form-control" id="mainProduct"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="newProduct">Company New Product (Last 3 years):</label>
                    <textarea class="form-control" id="newProduct"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="newProductFeature">New Product Features (Last 3 years):</label>
                    <textarea class="form-control" id="newProductFeature"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="rdField">Key R&amp;D Field:</label>
                    <textarea class="form-control" id="rdField"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="rdExpense">Current R&amp;D Expense (In FS):</label>
                    <textarea class="form-control" id="rdExpense"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="sredCurrent">Current SR&amp;ED Credit:</label>
                    <textarea class="form-control" id="sredCurrent"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="sredClaimable">Claimable SR&amp;ED Credit:</label>
                    <textarea class="form-control" id="sredClaimable"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

        <!-- Pagination -->
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="taxexpense.html">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="companyinfo.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="financialanalysis.html">2</a></li>
                        <li class="page-item"><a class="page-link" href="taxcredit.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="taxepense.html">4</a></li>
                        <li class="page-item active"><a class="page-link" href="product.html">5</a></li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>    
        </div>

    </div>

  </body>
</html>