<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyndex Technology</title>

    <!-- Bootstrap core CSS -->
    <!-- import Bootstrap CDN: CSS, JS, Popper.js and jQuary-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- import Bootstrap end --> 

    <!-- Custom styles for financial page -->
    

  </head>

  <body>
    <!-- financial information nav -->
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="companyinfo.html">Company Information Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="financialanalysis.html">Financial Analysis Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="taxcredit.html">SR&amp;ED Tax Credit Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="taxexpense.html">R&amp;D Tax Expense Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html">Product &amp; Tech vs R&amp;D Field</a>
                </li>
            </ul>
        </div>

        <br>

        <!-- tax analysis content -->
        <form>
            <h5>Industry Benchmark</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center"></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Canadian R&amp;D Expenditure</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="caRD2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="caRD2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="caRD2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">SR&amp;ED Tax Credit</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="sredTaxCredits2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="sredTaxCredits2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="sredTaxCredits2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Industry Size</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="idustrySize2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="industrySize2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="industrySize2015" value="0">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Investment Tax Credits</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="indRdExpense2017" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="indRdExpense2016" value="0">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" id="indRdExpense2015" value="0">
                </div>
            </div>

            <hr>

            <h5>History Tax Credit</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center"></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center" >GST/HST</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="GST2017" value="">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="GST2016" value="">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="GST2015" value="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center" >Investment Tax Credit</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="investment2017" value="">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="investment2016" value="">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="investment2015" value="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center" >SR&amp;ED Tax Credit</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="SRED2017" value="">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="SRED2016" value="">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="SRED2015" value="">
                </div>
            </div>

            <hr>

            <h5>History Tax Issue</h5>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="gst/hstIssue">GST/HST Tax Issue:</label>
                    <textarea class="form-control" id="gst/hstIssue"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="employeeTaxIssue">Employee Tax Issue:</label>
                    <textarea class="form-control" id="employeeTaxIssue"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="transferPricingTaxIssue">Transfer Pricing Tax Issue:</label>
                    <textarea class="form-control" id="transferPricingTaxIssue"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="transferPricingTaxIssue">Other Tax Issue:</label>
                    <textarea class="form-control" id="transferPricingTaxIssue"></textarea>
                </div>
            </div>

            <hr>
            
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="accessment.html" role="button" class="btn btn-success">Start Over</a>
        </form>

        <!-- Pagination -->
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="financialanalysis.html">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="companyinfo.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="financialanalysis.html">2</a></li>
                        <li class="page-item active"><a class="page-link" href="taxcredit.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="taxexpense.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="product.html">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="taxexpense.html">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>    
        </div>

    </div>

    
    
  </body>
</html>