{{> navbar }}
<div id="content">
  
        <br>
        <h3>Before starting your R&amp;D Tax Assessment</h3>
        <br>
        <h5>You can upload your documents to let us fill in the assessment automatically for you: 
           <!-- <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#uploadFileModal">
                Upload Files
            </button> -->
            <a href="/upload" role="button" class="btn btn-sm btn-success">Upload files</a>
        </h5>
        <p>Documents needed for the assessment:</p>
        <ul>
            <li>Balance Sheets for most recent 3 years</li>
            <li>Income Statement for most recent 3 years</li>
            <li>Cash Flow Statement for most recent 3 years</li>
            <li>Other documents relative to tax or R&amp;D projects</li>
        </ul>
        <p>Or you can skip this uploading and start the assessment manually</p>
        
        <!-- model
         
        <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadFileModalLabel">Upload New Files</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            <div class="modal-body">
                <form method="POST" action="/assessment" enctype="multipart/form-data">
                    
                    <input type="file" class="form-control" id="files" name="files" multiple>
                    
                    <br><br>
                    <button type="submit" class="btn btn-success btn-sm float-right">Upload</button>
                </form>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        upload modal end -->
      <hr>  
      <h5>Uploaded Documents</h5>
      <hr>
      {{#each files}}
        <div class="col-md-12"><strong>{{this}}</strong></div>
      {{else}}
        <div class="col-md-12">
            <strong>No files Available</strong>
        </div>
    {{/each}}
        
    <div class="text-center">
        <a href="/companyinfo" id="insert" class="btn btn-primary btn-lg center-block" role="button" onclick="extractFile">Start Assessment</a>
    </div>
</div>

<script>
    var ele = Document.getElementById("insert");
    ele.onclick = extractFile(){
        const { execFile } = require('child_process');
        const child = execFile('./insert.py', [session.user.cli_loginName], (error, stdout, stderr) => {
        if(stdout){console.log(stdout);}
        if(err){console.log(err);}
        });
    }
</script>