
    <form class="form-signin" method="POST" action="/register">
      <div class="text-center"><img class="mb-4" src="images/Lyndex_logo.png" alt="Company Logo" width="72" height="72"></div>
      <h1 class="h3 mb-3 font-weight-normal">Register Your Account</h1>
      <label for="cli_loginName" class="sr-only">Email</label>
      <input type="email" name="cli_loginName" id="cli_loginName" class="form-control" placeholder="Email address*" required autofocus>
      <label for="cli_loginName2" class="sr-only">Confirm your Email address</label>
      <input type="email" id="cli_loginName2" name="cli_loginName2" class="form-control" placeholder="Confirm Email address*" required>
      <label for="cli_password" class="sr-only">Password</label>
      <input type="password" name="cli_password" id="cli_password" class="form-control" placeholder="Password*" required>
      <label for="cli_password2" class="sr-only">Cofirm your Password</label>
      <input type="password" name="cli_password2" id="cli_password2" class="form-control" placeholder="Confirm Password*" required>
      <label for="cli_companyName" class="sr-only">Company Name</label>
      <input type="text" name="cli_companyName" id="cli_companyName" class="form-control" placeholder="Company Name*" required>
      <label for="cli_headquarters" class="sr-only">Company Location</label>
      <input type="text" name="cli_headquarters" id="cli_headquarters" class="form-control" placeholder="Company Location (City, Province)">
      <label for="cli_userLinkedInURL" class="sr-only">Company LinkedIn</label>
      <input type="text" name="cli_userLinkedInURL" id="cli_userLinkedInURL" class="form-control" placeholder="Company LinkedIn">
      <label for="cli_website" class="sr-only">Company Website</label>
      <input type="text" name="cli_website" id="cli_website" class="form-control" placeholder="Company Website">
      <div class="checkbox mb-3">
        <label class="text-center">
          <input type="checkbox" value="sbuscribe" checked> Subscribe Newsletter
        </label>
      </div>
      {{#if errorMessage}}
      <div class="alert alert-danger text-center"> <strong>Error:</strong> {{errorMessage}}</div>
      {{/if}}
      {{#if successMessage}}
      <div class="alert alert-success text-center"> <strong>Success:</strong> {{successMessage}}</div>
      <div class="text-center">
        <a class="btn btn-success text-center" href="/signin">&nbsp;&nbsp;&nbsp;Proceed to sign in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
      </div>
    {{/if}}
      <br>
      <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
      <br>
      <span>
          <p class="text-center">Already have an account?</p>
          <a class="btn btn-md btn-primary btn-block" href="/signin" role="button">Sign in</a>
          
          <script type="in/Login"></script>
      </span>
      <p class="mt-5 mb-3 text-muted text-center">&copy; Lyndex Technology 2017-2018</p>
    </form>

      <!-- Custom styles for Sign-in page -->
    <link rel="stylesheet" type="text/css" href="css/signin.css">

