
    <form class="form-signin">
        <p class="text-center">Please enter your email address and we will send you an email with instructions for resetting your password</p>
        <div class="text-center">
        <label for="registedEmail" class="sr-only">Your Email</label>
        <input type="email" id="registedEmail" class="form-control" placeholder="Your Email Address" required>
        <button type="submit" class="btn btn-dark">Reset Password</button>&nbsp;
        <a href="/signin" class="btn btn-light" type="button">Back to Login</a>
        </div>
    </form>

        <!-- Custom styles for Sign-in page -->
    <link href="css/signin.css" rel="stylesheet">

