
    <form class="form-signin" method="POST" action="/register">
      <div class="text-center"><img class="mb-4" src="images/Lyndex_logo.png" alt="Company Logo" width="72" height="72"></div>
      <h1 class="h3 mb-3 font-weight-normal">Register Your Account</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail2" class="sr-only">Confirm your Email address</label>
      <input type="email" id="inputEmail2" class="form-control" placeholder="Confirm Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="Password" class="form-control" placeholder="Password" required>
      <label for="inputPassword2" class="sr-only">Cofirm your Password</label>
      <input type="password" id="Password2" class="form-control" placeholder="Confirm Password" required>
      <label for=companyWebsite class="sr-only">Company Website</label>
      <input type="url" id="companyWebsite" class="form-control" placeholder="Company Website">
      <div class="checkbox mb-3">
        <label class="text-center">
          <input type="checkbox" value="sbuscribe" checked> Subscribe Newsletter
        </label>
      </div>
      <br>
      <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
      <br>
      <span>
          <p class="text-center">Already have an account?</p>
          <a class="btn btn-md btn-primary btn-block" href="/signin" role="button">Sign in</a>
          
          <script type="in/Login"></script>
      </span>
      <p class="mt-5 mb-3 text-muted text-center">&copy; Lyndex Technology 2017-2018</p>
    </form>

      <!-- Custom styles for Sign-in page -->
    <link rel="stylesheet" type="text/css" href="css/signin.css">

