<style>
      #sidebarholder {
        position: absolute;
        height:100%;
        width: 200px;
        box-shadow: 3px 0px 2px darkgray;
      }
      #sidebar {
        margin-top: 20px;
      }
      
      #sidebarlink:hover {
        font-weight: bold;
      }

      .material-icons {
        display: inline-flex;
        vertical-align: top;
      }

      #content {
        position: absolute;
        width:80%;
        margin-left: 250px;
        padding: 5px;
        height: 90%;
        overflow-y: auto;
        overflow-x:hidden;
        font-size: 14px;
      }
      
    </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" href="#">Lyndex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      
    </ul>
    {{#if session.user}}
            <form class="navbar-form navbar-right">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                <span class="glyphicon glyphiconuser"></span>&nbsp;&nbsp;{{session.user.cli_loginName}}&nbsp;&nbsp;<spanclass="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="userMenu">
                <li><a href="/profile">&nbsp;Profile</a></li>
                <li><a href="/logout">&nbsp;Log Out</a></li>
              </ul>
            </div>
            </form>
    
          {{else}}
            <form class="navbar-form navbar-right">
              <a href="/register" class="btn btn-success"><span class="glyphicon glyphiconcog"></span>&nbsp;&nbsp;Register</a>
              <a href="/signin" class="btn btn-primary"><span class="glyphicon glyphicon-chevronright"></span>&nbsp;&nbsp;Sign in</a>
            </form>
          {{/if}}
  </div>
</nav>

   
        <div class="bg-light" id="sidebarholder">
            <nav class="nav flex-column" id="sidebar">
                <a class="nav-link text-dark" id="sidebarlink" href="#"><i class="material-icons">dashboard</i>&nbsp;Dashboard</a>
                <a class="nav-link text-dark" id="sidebarlink" href="/assessment"><i class="material-icons">create</i>&nbsp;Assessment</a>
                <a class="nav-link text-dark" id="sidebarlink" href="/report"><i class="material-icons">assessment</i>&nbsp;Report</a>
                <a class="nav-link text-dark" id="sidebarlink" href="#"><i class="material-icons">add</i>&nbsp;More</a>
            </nav>
        </div>
        
      
  

